<div class="row">
  <div class="col-md-4">
    <div id="bills" class="box round-border">
      <i class="fa fa-file-o fa-5x"></i>
      <h4><%= link_to 'Proyectos de ley', votes_path %></h4>
    </div>
  </div>
  <div class="col-md-4">
    <div id="parliamentarians" class="box round-border">
      <i class="fa fa-male fa-5x"></i><i class="fa fa-female fa-5x"></i>
      <h4>Diputado y/o Senador</h4>
    </div>
  </div>
  <div class="col-md-4">
    <div id="party" class="box round-border">
      <i class="fa fa-file-o fa-5x"></i>
      <h4>Coalición y/o Partidos</h4>
    </div>
  </div>
</div>
