// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  font-family: 'Roboto', sans-serif;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  width: 100%;
  margin-top: 85px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }
.button-main {
  padding: 15px 0px;
}
.box {
  background-color: #FFF;
  padding: 7px 0px 0px 0px;
  text-align: center;
  //border: 1px solid #ddd;
  width: 100%;
  height: 100%;
}
.round-border {
  border-radius: 3px;
}
.halo {
  -webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
}
.votes-pair li{
  margin-left: 5px;
}
div#last-votes:first-child {
  border-right: 1px solid #CCC;
}
.nro-total {
  font-size: 40px;
}
.panel-title {
  min-height: 98px;
}
.title-recently {
  font-size: 18px;
}
.panel-graph {
  margin-bottom: 10px;
}
.donnuts {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
}
.afavor {
  color: blue;
}
.encontra {
  color: red;
}
.abstencion {
  color: gray;
}

h3.party-name {
  font-size: 16px;
}
h4.vote-option {
  font-size: 14px;
}
.vote-yes{ 
  i, a {
    color: #176B02
  }
}

.vote-no{ 
  i, a {
    color: #FF0000
  }
}

.vote-pair{ 
  i, a {
    color: #CCC
  }
}

.vote-abs{ 
  i, a {
    color: #5B5B5B
  }
}

.title-party {
  padding: 5px 0px 10px 0px
}
.latest-bill {
  border: 1px solid #EEE;
  marging: 7px;
  padding: 0px 12px;
}
.vote-square-yes {
  background-color: #EEE;
  min-height: 150px;
}
.vote-square-no {
  background-color: #DDD;
  min-height: 150px;
}
.vote-square-pair {
  background-color: #DDD;
  min-height: 150px;
}
.vote-square-abs {
  background-color: #EEE;
  min-height: 150px;
}